# Исследование надежности заемщиков

## Описание проекта

Заказчик — кредитный отдел банка. Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. Исходные данные от банка — статистика о платёжеспособности клиентов.

Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.

### Исходные данные

Компания-заказчик предоставила файл data.csv со следующими данными:

- `children` — количество детей в семье
- `days_employed` — общий трудовой стаж в днях
- `dob_years` — возраст клиента в годах
- `education` — уровень образования клиента
- `education_id` — идентификатор уровня образования
- `family_status` — семейное положение
- `family_status_id` — идентификатор семейного положения
- `gender` — пол клиента
- `income_type` — тип занятости
- `debt` — имел ли задолженность по возврату кредитов
- `total_income` — ежемесячный доход
- `purpose` — цель получения кредита

### Этапы проекта

Решать поставленную задачу будем в следующем порядке:
1. Загрузим данные, путь к файлу: data.csv.
2. Изучим данные. О качестве данных ничего неизвестно. В случае обнаружения аномалий и несоответствий проведем предобработку данных.
3. Категоризируем данные.
4. Исследуем данные и ответим на следующие вопросы:
   - Есть ли зависимость между количеством детей и возвратом кредита в срок?
   - Есть ли зависимость между семейным положением и возвратом кредита в срок?
   - Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
   - Как разные цели кредита влияют на его возврат в срок?
   
   Дополнительные вопросы:
   - Привести возможные причины появления пропусков в исходных данных.
   - Объяснить, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.
5. Общий вывод.

## Загрузка данных

Импортируем библиотеку pandas. Считаем данные из csv-файла в датафрейм и сохраним в переменную `data`.

In [1]:
# импортируем необходимые модули
import pandas as pd

In [2]:
# загружаем данные заказчика
data = pd.read_csv('data.csv')

Выведем первые 20 строк датафрейма `data` на экран.

In [3]:
data.head(20)

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

Выведем основную информацию о датафрейме.

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

- Имеются пропуски в столбцах `days_employed`  и  `total_income`.
- Данные в `days_employed` должны быть положительными целыми числами.
- Данные в `education` написаны в разных регистрах.

## Предобработка данных

### Удаление пропусков

Выведем количество пропущенных значений для каждого столбца.

In [5]:
data.isna().sum()

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income        2174
purpose                0
dtype: int64

В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце мы обработаем на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. 

На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости сотрудник пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.

In [6]:
# заполняем пропуски в столбце income_type
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

### Обработка аномальных значений

В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Обработаем значения в этом столбце: заменим все отрицательные значения положительными с помощью метода abs() и округлим до целого методом round().

In [7]:
# убираем знак минус и округляем до целого
data['days_employed'] = data['days_employed'].abs().round()

In [8]:
# выведем первые строки исправленной таблицы
data.head()

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,8438.0,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,4025.0,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,5623.0,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,4125.0,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.0,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу

Данные в столбце `days_employed` выглядят корректными.

Для каждого типа занятости выведем медианное значение трудового стажа `days_employed` в днях.

In [9]:
data.groupby('income_type')['days_employed'].agg('median')

income_type
безработный        366413.5
в декрете            3297.0
госслужащий          2689.5
компаньон            1547.0
пенсионер          365213.0
предприниматель       521.0
сотрудник            1574.0
студент               579.0
Name: days_employed, dtype: float64

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставим их как есть. Тем более этот столбец не понадобится нам для исследования.

Выведем перечень уникальных значений столбца `children`.

In [10]:
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

В столбце `children` есть два аномальных значения. Удалим строки из датафрейма data, в которых встречаются такие аномальные значения.

In [11]:
data = data[(data['children'] != -1) & (data['children'] != 20)]

Ещё раз выведем перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.

In [12]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

### Удаление пропусков (продолжение)

Заполним пропуски в столбце `days_employed` медианными значениями для каждого типа занятости `income_type`.

In [13]:
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

Убедимся, что все пропуски заполнены.

In [14]:
# выведем количество пропусков в датафрейме data
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

Пропуски обработаны.

### Изменение типов данных

Заменим вещественный тип данных в столбце `total_income` на целочисленный с помощью метода astype().

In [15]:
data['total_income'] = data['total_income'].astype(int)

Выведем общую информацию для проверки изменения типа данных.

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21402 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21402 non-null  int64
 1   days_employed     21402 non-null  float64
 2   dob_years         21402 non-null  int64
 3   education         21402 non-null  object
 4   education_id      21402 non-null  int64
 5   family_status     21402 non-null  object
 6   family_status_id  21402 non-null  int64
 7   gender            21402 non-null  object
 8   income_type       21402 non-null  object
 9   debt              21402 non-null  int64
 10  total_income      21402 non-null  int32
 11  purpose           21402 non-null  object
dtypes: float64(1), int32(1), int64(5), object(5)
memory usage: 2.0+ MB

Тип данных изменён.

### Обработка дубликатов

Обработаем неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведём их к нижнему регистру. Проверим остальные столбцы.

In [17]:
# приводим значения столбца `education` к нижнему регистру
data['education'] = data['education'].str.lower()

Выведем количество строк-дубликатов в данных. Если такие строки присутствуют, удалим их.

In [18]:
# выводим количество строк-дубликатов
data.duplicated().sum()

71

In [19]:
# удалим строки-дубликаты
data = data.drop_duplicates()

In [20]:
# проверим количество строк-дубликатов
data.duplicated().sum()

0

Дублирующиеся строки в столбце `education` удалены.

### Категоризация данных

На основании диапазонов, указанных ниже, создадим в датафрейме `data` столбец `total_income_category` с категориями:

- 0–30000 — `E`;
- 30001–50000 — `D`;
- 50001–200000 — `C`;
- 200001–1000000 — `B`;
- 1000001 и выше — `A`.

Например, кредитополучателю с доходом 25000 нужно назначить категорию `E`, а клиенту, получающему 235000, — `B`. Используем собственную функцию с именем `categorize_income()` и метод apply().

In [21]:
# создадим функцию
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [22]:
# заполним столбец `total_income_category` категориями.
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [23]:
# выведем первые 5 значений total_`income_category` и `total_income`
data[['total_income','total_income_category']].head()

   total_income total_income_category
0        253875                     B
1        112080                     C
2        145885                     C
3        267628                     B
4        158616                     C

Назначение категорий прошло корректно.

Выведем на экран перечень уникальных целей взятия кредита из столбца `purpose`.

In [24]:
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце purpose_category должна появиться строка `'операции с автомобилем'`.

Используем собственную функцию с именем `categorize_purpose()` и метод apply().

In [25]:
# функция для категоризации целей
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [26]:
# создадим столбец с категориями цели кредита
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

In [27]:
# выведем первые значения нового столбца и исходного для проверки категорий
data[['purpose', 'purpose_category']].head()

                      purpose          purpose_category
0               покупка жилья  операции с недвижимостью
1     приобретение автомобиля    операции с автомобилем
2               покупка жилья  операции с недвижимостью
3  дополнительное образование     получение образования
4             сыграть свадьбу        проведение свадьбы

Категоризация данных проведена корректно.

## Исследование данных

Исследуем данные, чтобы ответить на следующие вопросы:
- Есть ли зависимость между количеством детей и возвратом кредита в срок?
- Есть ли зависимость между семейным положением и возвратом кредита в срок?
- Есть ли зависимость между уровнем дохода и возвратом кредита в срок?
- Как разные цели кредита влияют на его возврат в срок?

### Есть ли зависимость между количеством детей и возвратом кредита в срок?

Создадим функцию для формирования таблиц зависимости между возвратом кредита и различными факторами.

In [28]:
'''
функция debtors_dependence выводит таблицу для анализа зависимости задолженностей по возврату кредита 'debt' 
от различных факторов: количества детей, уровня дохода и т.д.

На вход принимает аргументы:

df - предобработанный объект pandas.DataFrame

col - название столбца, зависимость от которого мы хотим выяснить (например, 'children')

sort - необязательный аргумент для сортировки данных в результирующей таблице. 
Может принимать 2 значения: True и False (по умолчанию).

age - необязательный аргумент для вывода столбца со средним возрастом клиентов для каждой категории.
Может принимать 2 значения: True и False (по умолчанию).
'''

def debtors_dependence (df, col, sort=False, age=False):   
    # группируем данные, посчитаем количество клиентов в каждой категории
    clients = df.groupby(col)[col].count()
    
    # вычислим процентное отношение клиентов в рассматриваемой категории к общему числу клиентов
    clients_percent = clients / clients.sum() * 100
    
    # посчитаем количество должников в каждой категории
    debtors = df.groupby(col)['debt'].sum()
    
    # вычислим процентное отношение должников к числу клиентов в рассматриваемой категории
    debtors_percent = debtors / clients * 100
    
    # вычислим средний возраст для каждой категории
    dob_years = df.groupby(col)['dob_years'].sum() / df.groupby(col)['dob_years'].count()
    
    # имена столбцов в результирующей таблице
    col_names = ['clients', 'clients, %', 'debtors', 'debtors, %', 'age']
    
    # значения столбцов в результирующей таблице
    col_values = [
        clients,
        round(clients_percent, 2),
        debtors,
        round(debtors_percent, 2),
        round(dob_years, 0).astype('int')
        ]
    
    # если параметр age=False, не добавляем столбец 'age' в результирующую таблицу
    if age == False:  
        col_names.pop()
        col_values.pop()
        
    # сцепляем столбцы в единую таблицу
    table = pd.concat(col_values, axis = 1)
    
    # переименовываем столбцы для удобства восприятия
    table.columns = col_names
    
    # если параметр sort=True сортируем данные по убыванию процента должников
    if sort:
        table=table.sort_values(['debtors, %'], ascending = False)
        
    # выводим итоговую таблицу    
    return table

In [29]:
# зависимость между количеством детей и возвратом кредита в срок
debtors_dependence(data, 'children')

          clients  clients, %  debtors  debtors, %
children
0           14091       66.06     1063        7.54
1            4808       22.54      444        9.23
2            2052        9.62      194        9.45
3             330        1.55       27        8.18
4              41        0.19        4        9.76
5               9        0.04        0        0.00

**Вывод:**

Выборки клиентов с 3, 4, 5 детьми малы и не позволяют делать однозначные выводы.
Процент должников в категориях с 1 и 2 детьми различается незначительно.
Различие более 1 п. п. наблюдаем, если сравнивать клиентов с детьми (количество не имеет значения) и без детей. Задолженность среди клиентов с детьми возникает чаще.

### Есть ли зависимость между семейным положением и возвратом кредита в срок?

In [30]:
# зависимость между семейным положением и возвратом кредита в срок
debtors_dependence(data, 'family_status', sort=True, age=True)

                       clients  clients, %  debtors  debtors, %  age
family_status
Не женат / не замужем     2796       13.11      273        9.76   38
гражданский брак          4134       19.38      385        9.31   42
женат / замужем          12261       57.48      927        7.56   44
в разводе                 1189        5.57       84        7.06   46
вдовец / вдова             951        4.46       63        6.62   57

Можно предположить, что зависимость между семейным положением и возвратом кредита носит опосредованный характер, поскольку налицо зависимость от возраста. Столбец семейного положения напоминает стадии взросления человека и коррелируется с возрастом.

Убедимся в зависимости от семейного положения, исключив возрастной фактор. Для этого рассмотрим самую многочисленную группу клиентов одного возраста.

In [31]:
# Найдем самую многочисленную группу одного возраста, получим возраст
data.groupby('dob_years')['dob_years'].count().idxmax(axis= 0)

35

In [32]:
# зависимость между семейным положением и возвратом кредита для клиентов одного возраста
data_age = data.loc[data['dob_years'] == 35]
debtors_dependence(data_age, 'family_status', sort=True, age=True)

                       clients  clients, %  debtors  debtors, %  age
family_status
гражданский брак           135       22.02       11        8.15   35
Не женат / не замужем       63       10.28        5        7.94   35
женат / замужем            381       62.15       30        7.87   35
в разводе                   31        5.06        1        3.23   35
вдовец / вдова               3        0.49        0        0.00   35

В группе с возрастом 35 лет расстановка строк с сортировкой по проценту должников совпадает с ранее полученным результатом, но выборки слишком малы для окончательного вывода. Получим такие таблицы для всех возрастов и вычислим, на какой позиции чаще всего встречается каждый семейный статус при следующих условиях:

в таблице присутствуют все категории;
нет нулевых значений в колонке 'debtors'.

In [33]:
# импортирует модуль statistics для использования функции mode
# (поиск наиболее часто встречающегося элемента списка).
import statistics
from statistics import mode

# создаем словарь. В значениях будут храниться списки с перечислением номеров позиций для поиска наиболее часто встречающейся.
dict_ = {
 'Не женат / не замужем': [],
 'гражданский брак'     : [],
 'женат / замужем'      : [],
 'в разводе'            : [],
 'вдовец / вдова'       : [],
} 

# счетчик количества таблиц, на основании которых рассчитываются номера строк
count = 0

for i in range(18,76):
    
    # вызываем функцию debtors_dependence для каждого возраста
    data_age = data.loc[data['dob_years'] == i]
    
    # сохраняем результат работы функции в DataFrame
    df = debtors_dependence(data_age, 'family_status', sort=True, age=True)
    
    # для каждого датафрейма получаем список индексов вида: ['гражданский брак', 'Не женат / не замужем', ... , ]
    # элементы в списке находятся в порядке убывания процентного соотношения должников 'debtors, %'
    list_ = df.index.tolist() 

    # если в списке присутствуют все категории и нет нулевых значений в колонке 'debtors'
    # добавляем в словарь dict_ номер позиции каждого элемента списка list_ по соответствующему ключу
    if (len(list_) == 5) and (0 not in df['debtors']):
        for i in list_:
            dict_[i].append(list_.index(i))
        count += 1 
        
                           
# выводим словарь, где значение - это наиболее часто встречающаяся позиция в списке  
print(f'Расчет позиций произведен на основании анализа {count} групп одного возраста.\n')
for key, val in dict_.items():
    print(mode(val) + 1, key)

Расчет позиций произведен на основании анализа 45 групп одного возраста.

2 Не женат / не замужем
1 гражданский брак
3 женат / замужем
4 в разводе
5 вдовец / вдова

Рассчет подтверждает, что на процент должников влияет семейное положение. Процент должников в первых двух строках схож (9,76% и 9,31% соответственно), поэтому сменой их порядка можно пренебречь. Порядок остальных строк полностью совпадает. Возраст, очевидно, оказывает влияние на семейное положение, но семейное положение влияет на процент должников независимо от возраста.

**Вывод:**

Зависимость между семейным положением и возвратом кредита в срок подтверждается.

### Есть ли зависимость между уровнем дохода и возвратом кредита в срок?

In [34]:
debtors_dependence(data, 'total_income_category')

                       clients  clients, %  debtors  debtors, %
total_income_category
A                           25        0.12        2        8.00
B                         5014       23.51      354        7.06
C                        15921       74.64     1353        8.50
D                          349        1.64       21        6.02
E                           22        0.10        2        9.09

Исходя из таблицы можно предположить, что чем выше доход, тем чаще клиенты возвращают кредит в срок. Однако, распределение клиентов по категориям неравномерное. Для более точного анализа создадим новые категории, где распределение клиентов будет примерно одинаковым.

Повторим категоризацию клиентов по доходу с новыми параметрами:

- 0–98500 — `'E_new'`;
- 98501–132000 — `'D_new'`;
- 132001–161000 — `'C_new'`;
- 161001–214000 — `'B_new'`;
- 214001 и выше — `'A_new'`.

In [35]:
# создадим функцию для расчета категорий дохода
def categorize_income_new(income):
    try:
        if 0 <= income <= 98500:
            return 'E_new'
        elif 98501 <= income <= 132000:
            return 'D_new'
        elif 132001 <= income <= 161000:
            return 'C_new'
        elif 161001 <= income <= 214000:
            return 'B_new'
        elif income >= 214001:
            return 'A_new'
    except:
        pass

In [36]:
# создаем столбец 'total_income_category_new' и добавим в него категории, вычисленные функцией categorize_income_new
data['total_income_category_new'] = \
data['total_income'].apply(categorize_income_new)

Передадим в функцию `debtors_dependence` новый столбец ``'total_income_category_new'`` c равномерным распределением клиентов по категорям и сформируем новую таблицу для анализа.

In [37]:
debtors_dependence(data, 'total_income_category_new')

                           clients  clients, %  debtors  debtors, %
total_income_category_new
A_new                         4289       20.11      303        7.06
B_new                         4282       20.07      356        8.31
C_new                         4243       19.89      375        8.84
D_new                         4255       19.95      355        8.34
E_new                         4262       19.98      343        8.05

Предположение об уменьшении должников с ростом дохода подтверждается лишь отчасти. Категория C_new находится ровно посередине и разделяет клиентов с более высоким и низким доходом. Как видим, снижение процента должников идет как с повышением дохода, так и с понижением. Если зависимость от дохода и есть, то она является не пропорциональной и меняет свою направленность, что требует дополнительных исследований.

**Вывод:**

Явная зависимость между уровнем дохода и возвратом кредита в срок отсутствует. Возможно зависимость является более сложной, поскольку относительно клиентов из выборки со средним доходом, наблюдается снижение процента должников как в сторону увеличения дохода, так и в сторону уменьшения. Подтверждение такой зависимости требует дополнительных статистических исследований.

### Как разные цели кредита влияют на его возврат в срок?

In [38]:
# передадим в функцию `debtors_dependence` столбец 'purpose_category'.
debtors_dependence(data, 'purpose_category', sort=True)

                          clients  clients, %  debtors  debtors, %
purpose_category
операции с автомобилем       4279       20.06      400        9.35
получение образования        3988       18.70      369        9.25
проведение свадьбы           2313       10.84      183        7.91
операции с недвижимостью    10751       50.40      780        7.26

**Вывод:**

Цель получения кредита оказывает влияние на процент задолженностей.

- Кредит на автомобиль или образование - категории со схожим наиболее высоким процентом задолженностей по возврату.
- Наименьшее количество задолженностей в категории операций с недвижимостью.
- Кредит на свадьбу занимает промежуточное положение.

### Дополнительные вопросы

**Приведите возможные причины появления пропусков в исходных данных.**

**Ответ:**

Пропуски в столбце `'days_employed'` (общий трудовой стаж в днях) могут быть связаны со следующими факторами:

- Трудовой стаж при получении кредита не запрашивали.
- Трудовой стаж мал/отсутствует.
- У клиента нет сиюминутной возможности / желания вычислять трудовой стаж, особенно с точностью до дня, поскольку это трудоемко, особенно при частой смене работы.
- Работа неофициальная и нет возможности подтвердить документально.

Пропуски в столбце `'total_income'` (ежемесячный доход) могут быть связаны:

- Доход при получении кредита не запрашивали.
- Дохода нет / недостаточно для одобрения кредита, клиент его не указывает.
- Есть достаточный доход, но его невозможно документально подтвердить (нелегальный).
- У клиента высокий доход, который он предпочитает не раскрывать.

Помимо перечисленных причин, характерных для определенных категорий, также пропуски могут быть связаны с ошибками в записи (человеческий фактор) и техническими проблемами.

**Объясните, почему заполнить пропуски медианным значением — лучшее решение для количественных переменных.**

**Ответ:**

На практике чаще используют заполнение пропусков медианным значением, так как медиана является более устойчивым показателем к выбросам в данных и не требует сложных вычислений. Однако, это не всегда лучшее решение для количественных переменных. Для задачи кредитного скоринга попуски могут выделяться в отдельную категорию, заменяться средним значением или заполняться с использованием более сложных методов в зависимости от конкретного случая.

<br>[Cпособы работы с пропущенными данными для задач кредитного скоринга](https://vaael.ru/ru/article/view?id=1157)

## Общий вывод

**В ходе проекта мы провели следующую работу:**
- изучили данные, проверили их на предмет аномалий и несоответствий;

- произвели предобработку данных для последующего анализа;

- произвели исследования и выяснили зависимость возврата кредита в срок от различных факторов (см. ниже).

**Результаты:**

В результате исследования мы установили следующее:

- Зависимость между количеством детей и возвратом кредита в срок подтвердилась частично. Количество детей не оказывает существенного влияния на этот показатель, но влияет факт наличия / отсутствия детей. Если дети есть, то клиенты чаще задерживают выплаты.

- Зависимость между семейным положением и возвратом кредита в срок подтвердилась. Самый высокий процент должников наблюдается в категориях `'Не женат / не замужем'` и `'гражданский брак'`. Далее этот показатель снижается в соответствии с порядком: `'женат / замужем'`, `'в разводе'`, `'вдовец / вдова'`.

- Зависимость между уровнем дохода и возвратом кредита в срок отсутствует, либо не является пропорциональной, а представляет более сложный вид зависимости, что требует дополнительных исследований.

- Зависимость между целями кредита и возвратом в срок подтвердилась. Схожий максимальный процент должников обнаружен в категориях: `'операции с автомобилем'` и `'получение образования'`. Минимальный процент должников в категории `'операции с недвижимостью'`. Кредит на получение свадьбы занимает промежуточное положение.

**Рекомендации:**

Для повышения качества анализа необходимо заполнить пропуски реальными данными в столбцах `days_employed` и `total_income`.